@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

#welcome {
  justify-content: space-between;
  padding-bottom: 4%;
  padding-top: 12%;
  position: relative;
  text-align: center;
  font-size: 36px;
  color:white;
}

.welcome-container {
	position: relative;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

body {
  /*background: url("https://img.itch.zone/aW1nLzUyNDk1NTUucG5n/original/6Xiz6E.png");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;*/
  background-color: #0b487f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  font-weight: 300;
  margin: 0;
}


p {
	font-size: 20px;
}

iframe {
	width:100%;
}

a{
	text-decoration:none;
}

a:hover {
	opacity: 0.5;
}

.fade-in {
	animation: fadeIn, 2s;
}

.hidden {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 0s;
}

.show {
  opacity: 1;
  transform: translate(0, 0);
   transition: all 1s;
}

.section {
	background-color: #112;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.container {
	position: relative;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: rgba(125, 125, 125, 0.2);
  border: 10px solid rgba(100, 100, 255, 0.4);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

#left_arrow,
#right_arrow,
#randomButton,
#logo {
  cursor: pointer;
}

#randomButton {
	background-color: #888;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.link {
	text-decoration: none;
	color:white;
}

.tabs {
  display: flex;
  list-style: none;
  column-gap: 10px;
  margin:0;
}

.tab, .dropbtn {
  margin: 10px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tab-icon{
	margin: auto;
	margin-right: 10px;
	cursor: pointer;
}

.nav, .navDevlog {
	font-size: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #113;
  color: white;
  z-index: 5;
}

#company-name {
  font: 14;
}

#logo {
	padding-left: 1%;
}

.back-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -100;
}

.fpf-video {
  width: 100vw;
  height: 120vh;
  object-fit: cover;
  position: fixed;
  z-index: -100;
}

.to-top {
  border-radius: 26.5px;
  background-color: #444;
  border: 3px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#rotate-device {
	display: none;
}

.open-tab{
	display:none;
}

/*mobile*/
@media (orientation: portrait) {
	body{
		zoom: 0.75;
		background: url("https://img.itch.zone/aW1nLzUyNDk1NTUucG5n/original/6Xiz6E.png");
		background-repeat: repeat;
		background-size: auto;
		background-attachment: fixed;
	}
	.back-video {
		zoom: 1.5;
	}
	.container {
		max-width: 90%;
	}
	.tabs {
		display:none;
	}
	.welcome-container{
		margin-top: 60px;
		margin-bottom: 75px;
	}
	#rotate-device {
		display: block;
	}
	#logo {
		margin-left: 33%;
		margin-right: 45%;
		width:10%;
	}
	.open-tab{
		display:block;
		margin-left: 2%;
		width: 10%;
		cursor:pointer;
	}
	.back-video{
		display: none;
	}
	.fpf-video{
		display: none;
	}
}

/*mobile landscape*/
@media (max-height: 500px) {
	body {
		zoom: 0.75;
		background: url("https://img.itch.zone/aW1nLzUyNDk1NTUucG5n/original/6Xiz6E.png");
		background-repeat: repeat;
		background-size: auto;
		background-attachment: fixed;
	}
	.back-video {
		zoom: 3;
	}
	.container {
		max-width: 90%;
	}
	#welcome{
		padding-top: 100px;
	}
	.welcome-container{
		zoom: 0.5;
		max-width: 90%;
		
	}
	.back-video{
		display: none;
	}
	.fpf-video{
		display: none;
	}
	
}

/*destop*/
@media (orientation: landscape) {
	#rotate-device {
		display: none;
	}
}

/* Add a red background color to navbar links on hover */
.navbar li:hover, .dropdown:hover .dropbtn {
  opacity: 0.5;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar, .sidebarDevlog {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar .sidebox, .sidebarDevlog .sidebox{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar a:hover, .sidebarDevlog a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn, .sidebarDevlog .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .sidebar-dropdown-btn, .sidebarDevlog .sidebar-dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar-dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}