.container-wide {
	position: relative;
  padding: 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background: rgba(125, 125, 125, 0.2);
  border: 10px solid rgba(100, 100, 255, 0.4);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

#devlogs, #devlog {
	padding-top: 120px;
}

.devlog-list ul {
	border: 10px solid rgba(0, 0, 0, 1);
	margin: auto;
	max-width:1200px;
	margin-top: 10px;
	overflow: hidden;
}

.devlog-list a ul img{
	margin: 1%;
}

.devlog-link {
	text-decoration: none;
	color:black;
}

.next-devlog{
	background-color: rgba(100, 100, 255, 0.4);
	font-size: 190%;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 1%;
}


@media (orientation: portrait) {
	.container-wide {
		max-width: 90%;
	}
}

@media (orientation: portrait) {
	.container-wide {
		max-width: 90%;
	}
}