#welcome-fpf{
	justify-content: space-between;
  padding-bottom: 4%;
  padding-top: 10%;
  position: relative;
  text-align: center;
  font-size: 36px;
  color:white;
}

#summary {
  justify-content: space-between;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
}

.play{
	background-color: #111;
	margin: auto;
	text-align:center;
	cursor: pointer;
	width: 40%;
	border: 10px solid rgba(100, 100, 255, 0.4);
}

#info {
  background: url(https://img.itch.zone/aW1nLzUyNDk1NTUucG5n/original/6Xiz6E.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#peek {
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#keywords {
   background: url(https://img.itch.zone/aW1nLzUyNDk1NTUucG5n/original/6Xiz6E.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align:center;
}

.keyword {
	background-color: #DDD;
	cursor: pointer;
	padding: 10px;
}

#game {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

body {
  background-color: #0b487f;
}

.heroImg,
.sneakPeek {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#className {
  text-align: center;
}

#classDesc {
  text-align: center;
}

.imgColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

@media (max-height: 500px) {
	.play{ font-size: 36px; }
	#game {zoom: 0.7;}
}

@media (orientation: portrait) {
	.play{ display:none }
	#unity-container { display:none; }
}